@{
    ViewData["Title"] = "Реестр пользователей";
}

<div class="DataTables">

    <div class="Button-top">
        <div class="Back">
        <form method="post" asp-controller="Account"  asp-action="Back" >
        <input type="submit" value="Назад" />
        </form>
        </div>
        <div class="LogOut">
        <form method="post"  asp-controller="Account" asp-action="Logout">
        <input type="submit" value="Выход" />
        </form>
        </div>
    </div>


    <h4>Реестр пользователей</h4>

    <form method="post" class="AddChangeUser" asp-action="AddUser">
        <input type="text" name="FIO" placeholder="ФИО">
        <input type="text" name="Role" placeholder="Роль">
        <input type="text" name="LogIn" placeholder="Логин">
        <input type="text" name="Password" placeholder="Пароль">
        <input type="text" name="Department" placeholder="Отдел">
        <input type="text" name="Part" placeholder="Должность">
        <input type="submit" class="ButtonInPage" value="Добавить" />
    </form>
   
    <table cellpadding="7">
            <tr> <th>ФИО</th><th>Роль</th><th>Логин</th><th>Пароль</th><th>Отдел</th><th>Должность</th></tr>
    @foreach (var user in Model)
    {
        
           <tr> <td>@user.FIO</td> 
                <td>@user.Role</td>
                <td>@user.Login</td>
                <td>@user.Password</td>
                <td>@user.Department</td>
                <td>@user.Part</td>
                <td class="ButtonUpdateDelete"> <a asp-controller="Home" asp-action="UpdateUser" asp-route-id="@user.ID">Редактировать</a> |
                   <a asp-controller="Home" asp-action="DeleteUser" asp-route-id="@user.ID">Удалить</a> </td>
          </tr>
        
        
    }
    </table>

</div>
